# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  ANT_HOME: /usr/share/ant/lib
  IVY_HOME: /usr/share/ivy

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Set up Ant and Ivy
        run: |
          sudo apt-get update
          sudo apt-get install ant
          sudo apt-get install ivy

      - name: Build with Ant
        run: | # ant -noinput -buildfile _build.xml
          ant resolve
          ant build

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.iv2/cache
          key: ${{ runner.os }}-ivy-${{ hashFiles('ivy.xml') }}
          restore-keys: ${{ runner.os }}-ivy-
