# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Distribution

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/**'
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Set up Ant
        run: |
          sudo apt-get update
          sudo apt-get install ant

      - name: Set up Ivy
        run: ant download-ivy

      - name: Build with Ant
        run: ant
        
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/lib
          key: ${{ runner.os }}-ivy-${{ hashFiles('ivy.xml') }}
          restore-keys: ${{ runner.os }}-ivy-
