# This workflow will build a Java project with Ant
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-ant

name: Java CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'temurin'

      - name: Set up Ant and Ivy
        uses: actions/setup-java@v1
        with:
          java-version: '19'
          distribution: 'temurin'
          ant-version: '1.10.13'
          ivy-version: '2.5.1'

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.iv2/cache
          key: ${{ runner.os }}-ivy-${{ hashFiles('ivy.xml') }}
          restore-keys: ${{ runner.os }}-ivy-
